* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* TO use Box Model  */
  }
  
  body {
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;
    padding-bottom: 100px;
  }
  
  .button__primary {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
  }
  
  .navbar__brand {
    width: 100px;
  }
  
  .navbar__logo {
    width: 100%;
  }
  
  .nav__item {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .nav__item:hover {
    border: 2px solid blue;
  }
  
  .hero__image__container {
    width: 100%;
  }
  
  .hero__image {
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  
  .hero__text {
    font-size: 30px;
    margin: 20px 0;
  }
  
  .explore__menu__text {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .food__card {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .food__card__image__container {
    width: 100%;
  }
  
  .food__image {
    border-radius: 8px 8px 0 0;
  }
  
  .food__card__description {
    padding: 15px;
  }

  img {
    width: 400px;
    margin: 20px;
  }
